:root {
    --pallete-title: #e7e7e7;
    --pallete-description: #b4b4b4;
    --pallete-variant: #f0544f;
    --pallete-background: #262322;
    --font-family: sans-serif;
}

* {
    background-color: var(--pallete-background);
    font-family: var(--font-family);
}

h1 {
    color: var(--pallete-title);
}

h2 {
    color: var(--pallete-title);
}

span {
    color: var(--pallete-variant);
}

p {
    color: var(--pallete-description);
    font-size: 15px;
    max-width: 300px;
}
